<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <form>
    <h3>Login</h3>
        <!--  Two Way Binding -->
    Username: <input type="text" [(ngModel)]="username" name="username"><br>
    Password: <input type="password" [(ngModel)]="password" name="password"><br>
        <!--Event Binding -->
    <button type="submit" value="Login" (click)="CheckLogin()">Login</button><br>
        <!-- Interpolation Binding  -->
    <div id="success">{{successMsg}}</div>
        <!--Property Binding-->
    <div id="error" [innerHTML]="errorMsg"></div>
  </form>
</div>
<br>
<div>
  <form>
    <input type="text">
    <button type="submit" (click)="onClick()">click</button>
    <p>{{test}}</p>
  </form>
</div>
<div class="divCenter">
  <input type="text" [(ngModel)]="inputText">
  <p>{{inputText}}</p>
  <input type="text" placeholder="On Change Event" (change)="onChange()">
  <p>{{changeText}}</p>
</div>
<div class="divCenter">
  <input type="text" placeholder="On KeyUp" (keyup)="onKeyUp($event)">
  <p>{{keyupText}}</p>
  <p>{{keyupTextValue}}</p>
</div>
<app-employee></app-employee>
