/* You can add global styles to this file, and also import other style files */
table{
  color: #369;
  border-collapse: collapse;
}
td{
  border: 1px solid black;
}
/*h1, h3, h4{
  text-align: center;
}

h4{
  color: white;
}
form{
  left: 40%;
  position: absolute;
  margin: auto;
  padding-top: 40px;
}
.divCenter{
  left: 40%;
  position: absolute;
  margin: auto;
  padding-top: 100px;
}*/

.parentClass{
  border: 2px solid blue;
  background-color: blue;
  color: white;
  padding: 30px;
}
.siblingClass{
  border: 2px solid green;
  background-color: green;
}
.childClass{
  border: 2px solid pink;
  background-color: pink;
  padding: 30px;
  color: #DB34C4;
}
